/* Styling */

@import "variables";

html {
  font-family: "Times New Roman", "Times", "Noto Serif", serif;
}
body {
  margin: 0;
  padding: 0;
  background: $light-color;
  color: #454545;
  font-size: calc(1em + 0.22vw);
  box-sizing: border-box;
  line-height: 1.4;
  ::selection {
    color: $light-color;
    background: $dark-color;
  }
  min-height: 80vh;
}

body.dark {
  background: #1d2021;
  color: $light-color;

  ::selection {
    color: $dark-color;
    background: $light-color;
  }
}

.verbatim {
  font-family: monospace;
  font-size: 0.8rem;
  padding: 3px 5px;
  border-radius: 3px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.name {
  width: 80%;
  flex: 1;
  text-align: left;
  width: 80%;
}

.link,
sup a {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 2px solid;
  border-style: dotted;
  text-decoration: none;
  color: $primary-accent-color;
}

.content {
  margin-top: 10px;
  border-top: 2px #808080 solid;
}

.line {
  margin: 0;
  background: $primary-accent-color;
  height: 5px;
  border-radius: 4px;
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

p,
li {
  a {
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid;
    border-style: dotted;
    text-decoration: none;
    color: $primary-accent-color;
  }
}

.color-scheme {
  font-size: 15px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}
.post-header {
  display: flex;
  align-items: center;
}
.post-title {
  margin: 5px 0px;
  overflow-wrap: break-word;
  hyphens: manual;
  font-family: serif;
}

.post-dets {
  margin: 0px 0px 5px 0px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  boder-bottom: 2px dotted;
  align-items: center;
  h5 {
    margin: 6px 5px 6px 0px;
  }
}

.tag {
  background: #e25555;
  color: $light-color;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 3px;
}

.post-item {
  margin: 10px 0;
}

.well h5,
.well h4,
.well h3,
.well p {
  margin: 5px 0px;
}
.well h3 {
  font-family: serif;
}

.label {
  background-color: #282828;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 10px;
  width: 40px;
  transform: scale(1.5);
  margin-top: 10px;
  .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  svg {
    height: 12px;
    width: 12px;
    color: #f39c12;
  }
}

.checkbox:checked + .label .ball {
  transform: translateX(28px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro p {
  text-align: justify;
}

.intro-quote {
  font-family: serif;
  list-style: none;
  font-style: italic;
  text-align: center;
  width: 400px;
}

.image {
  width: 200px;
  border-radius: 200px;
  margin: 10px;
}

html.contrast body {
  color: #050505;
}

small {
  font-size: calc(0.5em + 0.33vw);
}

ul li img {
  height: 1em;
}
p > img {
  max-width: 100%;
}

figure > img {
  max-width: 100%;
}

blockquote {
  margin-left: 0;
}

.nav {
  margin: 20px auto;
  a {
    background: $primary-accent-color;
    background: linear-gradient(
      90deg,
      $primary-accent-color 0%,
      $secondary-accent-color 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary-accent-color",endColorstr="#0a8fa8",GradientType=1);
    padding: 10px;
    color: $light-color;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px;
  }
  a:hover {
    background: #fff;
    padding: 8px;
    color: $primary-accent-color;
    text-decoration: none;
    border: 2px solid $primary-accent-color;
    animation: blueToWhite 0.4s linear;
  }
}

.go-back {
  color: inherit;
  text-decoration: none;
  display: flex;
  margin: auto 10px auto 0px;
}

blockquote {
  background: lightgrey;
  color: #454545;
  border-left: 5px solid $primary-accent-color; /*#ccc;*/
  margin: 1.5em 20px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";

  p {
    display: inline;
    font-style: italic;
    font-size: calc(0.8em + 0.33vw);
  }
}

blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: calc(1em + 0.33vw);
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote ul,
ul {
  padding-left: 20px;
}

blockquote.dark {
  background: #282828;
  color: $light-color;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
  justify-content: space-between;
  width: 80%;
  a {
    text-decoration: none;
    margin: 0;
    color: $primary-accent-color;
  }
}

.social-link {
  font-size: 30px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-right: 0px;
  border-top: 2px solid;
  border-left: 0px;
  border-bottom: 0px;
  margin: 20px auto auto auto;
  width: 100%;
  p {
    width: 90%;
    margin: 10px auto;
  }
  strong {
    width: 90%;
  }
  .copyleft {
    margin: 10px 0px;
    padding: 0;
    font-size: calc(0.5em + 0.33vw);
    list-style: none;
    b {
      display: inline-block;
      transform: rotate(180deg);
    }
    li {
      display: inline-block;
      margin: 0 0 0 0.45em;
      padding: 0 0 0 0.85em;
      border-left: solid 1px rgba(255, 255, 255, 0.5);
      line-height: 1;
    }
    li:first-child {
      border-left: 0;
    }
  }
}

pre {
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 5px;
  font-family: monospace;
  font-size: calc(0.7em + 0.13vw);
  overflow-x: auto;
}

code {
  background: #2c2c2c;
  color: $light-color;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 1em;
  }
  .main {
    width: 90%;
  }
  .tags,
  .post-title {
    margin: 0;
  }
  .post-header {
    flex-wrap: wrap;
  }
  #footer p,
  .intro-quote {
    width: 90%;
  }
}

.back-transition {
  transition: background 0.2s linear;
}

.footnote-definition {
  display: flex;
  padding: 5px 0px;
}

.social {
  width: 100%;
}

.footnote-body,
.footnote-body p {
  margin: 0;
  padding: 0 10px;
}

ul li p {
  margin: 5px;
}

@keyframes blueToWhite {
  0% {
    background: $primary-accent-color;
    background: linear-gradient(
      90deg,
      $primary-accent-color 0%,
      $secondary-accent-color 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary-accent-color",endColorstr="#0a8fa8",GradientType=1);
    color: $light-color;
  }
  100% {
    background: $light-color;
    color: $primary-accent-color;
  }
}
